:root {
  --blue: #007bff;
  --white: #ffffff;
  --green:#1d8553;
  --black: #000000;
  --red:#ff0000;
  --lightgray:lightgray;
}

a{
  color:var(--blue);
}


html *{
  margin: 0;
  padding: 0;
  font-family: Source Sans Pro,Roboto,sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

.navigation a{
  font-size:1.2em;
  text-decoration:none;
}

.logo img {
  width: 100px;
}

.logo {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  gap: 1%;
  align-items: center;
  font-size:1.5em;
  color:var(--blue);
  font-weight:bold;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

input{
  font-size: 2em;
  padding: 1%;
  border-radius: 10px;
  border: 2px solid var(--black);
  opacity: 0.8;
}

input::placeholder{
  font-size: 20px;
  padding: 1%;

}

.btn {
  font-size: 1.5em;
  padding: 0 2%;
  border-radius: 10px;
  border: 0;
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  border:2px solid var(--blue);
  transition:0.3s;
  margin-top:2%;
  margin-bottom:2%;
  text-align: center;
}
.btn:hover {
  font-size: 1.5em;
  padding: 0 2%;
  border-radius: 10px;
  border: 0;
  color: var(--blue);
  background-color: var(--white);
  cursor: pointer;
  border:2px solid var(--blue);
  transition:0.3s;
  margin-top:2%;
  margin-bottom:2%;
  text-align: center;
}

h1.heading {
    color: var(--black);
    margin-bottom: 3%;
    font-size:3em;
}

.user_types{
  font-size:1em;
}
.user_types label{
  font-size:2em;
}
.user_types select{
  font-size:1.5em;
  padding: 0;
}

#error {
  display: flex;
  align-items: center;
  gap:1%;
  color: var(--red);
  font-size: 1em;
  font-weight:bold;
  margin: 2%;
}

#error img {
  width: 10%;
}

.users_table {
gap:0;

}

.assign_btn {
  margin: 0;
}

.assign_btn:hover {
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid var(--green);
  padding: 1% 2%;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  align-items: center;
}

select {
  padding: 5%;
}
.info {
  font-size: 0.8em;
  color: var(--green);
  width: fit-content;
}


.accordion {
  background-color: var(--blue);
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: var(--green);
}

.panel {
  padding: 2%;
  display: none;
  background-color: var(--lightgray);
  overflow: initial;
}

select#dropdown_patient {
  padding: 0;
  font-size: 1.2em;
}

.submit_btn{
  margin-top: 0%;
  margin-bottom: 0%;}

  .submit_btn:hover {
    margin-top: 0%;
    margin-bottom: 0%;
}